   /* ===========================================================
        ===  [BEGIN]     COLOR STYLES  
        =============================================================*/
        :root {
            
            /* Themed color! is you can use these variable in your site you can 
                easily 'skin' your site to a new color quickly and easily just by changing these value in a single spot

                This will eventually go into another file so you can just swap files to change  a theme
            */

            --theme-color-white: white;
            --theme-color-black: black;
            --theme-color-gray-light: lightgray;
            --theme-color-gray-medium: gray;
            --theme-color-gray-dark: darkgray;

            --theme-color-primary-lightest:white;
            --theme-color-primary-lighter:#A8B0C8;
            --theme-color-primary-light:#A8B0C8;
            --theme-color-primary-medium:#6679B6;
            --theme-color-primary-dark:#0B1C51;
            --theme-color-primary-darker:#00082d;
            --theme-color-primary-darkest:#00082d;

            --theme-color-secondary-lightest:#F6E4D2;
            --theme-color-secondary-lighter:#F6E4D2;
            --theme-color-secondary-light:#F6E4D2;
            --theme-color-secondary-medium:#FACF83;
            --theme-color-secondary-dark:#FCC913;
            --theme-color-secondary-darker:#FBA405;
            --theme-color-secondary-darkest:#FBA405;

            --theme-color-gradient-primary-dark:white;
            --theme-color-gradient-primary-medium:#white;
            --theme-color-gradient-primary-light:#white;



            --theme-color-post-font: var(--theme-color-primary-darkest);
            --theme-color-post-background: var(--theme-color-white);


            /* If you add more variable try and use a reasonable 
            naming convention to make it easy in intellisense
            */
            
        }


        header.pageHeader,
        nav.pageNav,
        aside.pageLeftAside,
        aside.pageRightAside,
        main.pageMain,
        footer.pageFooter {
            background: green;
            color: rgb(10, 3, 73);
            border-color: white;
            color: white;

        }








        body {
            background: var(--theme-color-post-font); 
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: var(--theme-color-post-font);     
        }
        p {
            color:var(--theme-color-default-font);   
            line-height: 2em;
        }

        main.pageMain { 
            background: var(--theme-color-post-font); 
            color: var(--theme-color-post-font);  

        }



        header.pageHeader {
         background-color: var(theme-color-white);   
        }

        nav.pageNav {
            background-color: var(theme-color-white);
        }

        aside.pageLeftAside {
            background-color: var(--theme-color-primary-medium);
            background: black;
        }

        aside.pageRightAside {
            background-color: var(--theme-color-primary-medium);
        }

        main.pageMain {
            background-color: var(--theme-color-primary-lighest);
        }

        footer.pageFooter {
            background-color: var(--theme-color-primary-dark);
        }

    


        /* ===========================================================
        ===  [END]    COLOR STYLES  
        =============================================================*/
